@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');

:root{
   --bg-color:#D2E0FB;
   --primary-color:#6A9C89;
   --seconddary-color:#F1D3CE;
   --font:"Playpen Sans", cursive;
}

body {
  background-color: var(--bg-color);  
}